Repository mannyanebi/feesprefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, pylint

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

pylint:
  name: pylint
  entry: pylint
  language: python

add: models for Admin and School related models
  .python-version
  feesprefect/apps/accounts/admin.py
  feesprefect/apps/accounts/migrations/0001_initial.py
  feesprefect/apps/accounts/migrations/0002_alter_feesprefectadmin_options.py
  feesprefect/apps/accounts/models.py
  feesprefect/apps/core/models.py
  feesprefect/apps/school/__init__.py
  feesprefect/apps/school/admin.py
  feesprefect/apps/school/apps.py
  feesprefect/apps/school/migrations/0001_initial.py
  feesprefect/apps/school/migrations/__init__.py
  feesprefect/apps/school/models.py
  feesprefect/apps/school/tests.py
  feesprefect/apps/school/views.py
  feesprefect/settings/base.py
  feesprefect/settings/local.py
  mypy.ini
  pyproject.toml
  requirements/base.txt
Due: django-check, django-check-migrations, pylint

:white_check_mark: add: models design
  .gitignore
  .pylintrc
  feesprefect/apps/core/models.py
  feesprefect/apps/school/admin.py
  feesprefect/apps/school/migrations/0001_initial.py
  feesprefect/apps/school/models.py
  feesprefect/settings/base.py
  pyproject.toml
  requirements/base.txt
Due: django-check, django-check-migrations, pylint

:zap: add: DRF for REST APIs, Swagger Docs generator.
  .pylintrc
  feesprefect/apps/school/admin.py
  feesprefect/apps/school/models.py
  feesprefect/apps/school/pagination.py
  feesprefect/apps/school/resources.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/viewsets.py
  feesprefect/db copy.sqlite3
  feesprefect/settings/base.py
  feesprefect/urls.py
  pyproject.toml
  requirements/base.txt
Due: django-check, django-check-migrations, pylint

:tada: fix: viewsets and serializers for student
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/viewsets.py
  feesprefect/settings/base.py
  pyproject.toml
  requirements/local.txt
Due: django-check, pylint

:rocket: add: parser for camelCase to snake_case. Set up Viewsets for student and academic_class
  feesprefect/apps/core/utils/parsers.py
  feesprefect/apps/core/utils/renderers.py
  feesprefect/apps/core/utils/transformers.py
  feesprefect/apps/school/mixins.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/viewsets.py
  feesprefect/settings/base.py
  pyproject.toml
Due: django-check, pylint

:zap: add: model viewsets for all models
  feesprefect/apps/school/mixins.py
  feesprefect/apps/school/pagination.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/viewsets.py
  feesprefect/db copy 2.sqlite3
  feesprefect/settings/base.py
Due: django-check, pylint

:wastebasket: deleted sqlite db backups
  feesprefect/db copy 2.sqlite3
  feesprefect/db copy.sqlite3
Due: none

:white_check_mark: add school fees payment endpoints
  .vscode/settings.json
  feesprefect/apps/school/apps.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/signals.py
Due: django-check, pylint

:zap: setup for production environment
  .env.sample
  .pylintrc
  feesprefect/settings/base.py
  feesprefect/settings/local.py
  feesprefect/settings/production.py
  manage.py
  requirements/base.txt
Due: django-check, pylint

:white_check_mark: add: configs for deploying on render.com
  .env.sample
  build.sh
  feesprefect/settings/production.py
  render.yaml
  requirements/production.txt
Due: django-check, pylint

add: change render plan to free
  .gitignore
  render.yaml
Due: none

:white_check_mark: fix: setting env variable for prod environment
  manage.py
  render.yaml
Due: django-check, pylint

:zap: fix incorrect application name
  render.yaml
Due: none

:zap: set django module setting env variable dynamically
  .env.sample
  feesprefect/utils.py
  feesprefect/wsgi.py
  manage.py
  render.yaml
Due: django-check, pylint

add: correct values for render env variables
  feesprefect/settings/base.py
  render.yaml
Due: django-check, pylint

:white_check_mark: add: setup whitenoise for static files serving
  build.sh
  feesprefect/settings/base.py
  requirements/base.txt
Due: django-check, pylint

fix: fixes for static files
  feesprefect/settings/base.py
  feesprefect/settings/local.py
  feesprefect/settings/production.py
Due: django-check, pylint

:zap: add: temp fix for staticfiles_dir
  build.sh
  feesprefect/settings/production.py
Due: django-check, pylint

:zap: testing why django admin isn't working
  render.yaml
Due: none

add: final fixes for release on render.com
  build.sh
  feesprefect/feesprefect.sqlite3
  feesprefect/settings/base.py
  feesprefect/settings/local.py
  feesprefect/settings/production.py
  render.yaml
Due: django-check, pylint

add: clean up conf settings
  feesprefect/settings/local.py
  feesprefect/settings/production.py
Due: django-check, pylint

:zap: add: admin login
  feesprefect/apps/accounts/urls.py
  feesprefect/apps/accounts/views.py
  feesprefect/feesprefect.sqlite3
  feesprefect/settings/base.py
  feesprefect/settings/production.py
  feesprefect/urls.py
Due: django-check, pylint

:zap: add: CORS policy
  feesprefect/apps/accounts/views.py
  feesprefect/feesprefect.sqlite3
  feesprefect/settings/base.py
  feesprefect/settings/production.py
  requirements/base.txt
Due: django-check, pylint

:zap: fix: attempting to allow any permission for testing
  feesprefect/apps/school/viewsets.py
Due: django-check, pylint

:zap: add: token based authentication
  feesprefect/apps/accounts/urls.py
  feesprefect/apps/school/viewsets.py
  feesprefect/feesprefect.sqlite3
  feesprefect/settings/base.py
Due: django-check, pylint

:zap: add conditionally paginate based on query params. Support filtering with django-filter
  feesprefect/apps/school/viewsets.py
  pyproject.toml
Due: django-check, pylint

:zap: add: filter by student name contains
  feesprefect/apps/school/filters.py
  feesprefect/apps/school/viewsets.py
  feesprefect/feesprefect.sqlite3
  feesprefect/urls.py
Due: django-check, pylint

:white_check_mark: add: create database for local and production
  .gitignore
  feesprefect/feesprefect.sqlite3
  feesprefect/settings/base.py
  feesprefect/settings/local.py
  feesprefect/settings/production.py
Due: django-check, pylint

add: redirect for home route '/'
  feesprefect/apps/core/urls.py
  feesprefect/apps/core/views.py
  feesprefect/apps/school/models.py
  feesprefect/urls.py
Due: django-check, django-check-migrations, pylint

:zap: add: swagger UI settings for allowing api calls using Token authentication
  feesprefect/settings/base.py
  feesprefect/urls.py
Due: django-check, pylint

refactor: optimize create action in school fees payment serializer to handle is_payment_complete
  .pylintrc
  feesprefect/apps/core/serializers.py
  feesprefect/apps/school/admin.py
  feesprefect/apps/school/migrations/0002_remove_schoolfee_term.py
  feesprefect/apps/school/models.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/signals.py
  feesprefect/apps/school/viewsets.py
Due: django-check, django-check-migrations, pylint

fix: correct logic for creating and managing is_payment_complete
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/signals.py
Due: django-check, pylint

:zap: add: endpoints for payments and business logic for returning data as expected
  .vscode/launch.json
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/services.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/views.py
  feesprefect/apps/school/viewsets.py
Due: django-check, pylint

add: endpoint for activating or deactivating a student
  .pylintrc
  feesprefect/apps/school/migrations/0003_student_active.py
  feesprefect/apps/school/models.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/views.py
  feesprefect/settings/local.py
  mypy.ini
  pyproject.toml
  requirements/base.txt
Due: django-check, django-check-migrations, pylint

:white_check_mark: add: filter and group students payments into academic classes
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/services.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/views.py
Due: django-check, pylint

:white_check_mark: update: school fees payment by academic class
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/views.py
Due: django-check, pylint

add: promote only active students
  feesprefect/apps/school/views.py
Due: django-check, pylint

add: new fields to students and endpoint to update student
  feesprefect/apps/school/migrations/0004_auto_20230427_1450.py
  feesprefect/apps/school/models.py
  feesprefect/apps/school/serializers.py
Due: django-check, django-check-migrations, pylint

add: correct str representation and feesprefect data
  feesprefect/apps/school/models.py
  feesprefect/feesprefect.sqlite3
Due: django-check, django-check-migrations, pylint

add: migration of data to elephantsql
  build.sh
  data.json
  feesprefect/settings/local.py
  feesprefect/settings/production.py
  pyproject.toml
  requirements/base.txt
Due: django-check, pylint

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  pylint: any of: \.py$, but not: [a-zA-Z]*/(migrations)/(.)*
