Repository mannyanebi/feesprefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.9
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        args:
          [
          "--maxkb=1024",
          ]
  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
  - repo: https://github.com/PyCQA/autoflake
    rev: v1.5.3
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--exclude=organizations/apps.py,accounts/apps.py,events/apps.py,organizations/apps.py,training/apps.py",
            "--expand-star-imports",
            "--ignore-init-module-imports",
          ]
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ^.*\b(migrations)\b.*$
  # - repo: local
  #   hooks:
  #     - id: update-changelog
  #       name: Updating the changelog with latest commit messages
  #       entry: sh -c 'git log --pretty="- %s" > CHANGELOG.md && git add .'
  #       language: system
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        exclude: "[a-zA-Z]*/(migrations)/(.)*"
        # args: [ "--load-plugins=pylint_django", "--django-settings-module=feesprefect.settings.local" ]
        # additional_dependencies: [
        #     # pylint dependency
        #     pylint_django,
        #     # runtime dependencies
        # ]

:white_check_mark: add: endpoint to fetch school statistics
  build.sh
  data.json
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/urls.py
  feesprefect/apps/school/views.py
  feesprefect/settings/base.py
  feesprefect/settings/local.py
  feesprefect/settings/production.py
Due: django-check, pylint

fix: increase gunicorn worker timeout
  render.yaml
Due: none

add: finish setup for deployment to heroku
  Procfile
  feesprefect/settings/base.py
  heroku-release.sh
  heroku-web.sh
  requirements.txt
  requirements/base.txt
  runtime.txt
Due: django-check, pylint

fix: change python runtime version to support heroku python
  runtime.txt
Due: none

add: static empty folder for heroku deploy stack to collect static successfully
  static/.keep
Due: none

fix: for collectstatic error
  heroku-release.sh
Due: none

add: still fixing deployment to heroku
  feesprefect/settings/production.py
  heroku-release.sh
Due: django-check, pylint

fix: still fixing deployment
  heroku-release.sh
Due: none

fix: still fixing heroky deployment
  .gitignore
  feesprefect/settings/base.py
  heroku-release.sh
  static/.keep
Due: django-check, pylint

fix: another fix for heroku deploy
  feesprefect/settings/base.py
  heroku-release.sh
Due: django-check, pylint

finish deploying to heroku
  heroku-release.sh
Due: none

fix: testing to solve staticfiles issue on heroku
  .gitignore
  feesprefect/settings/base.py
  feesprefect/settings/production.py
  feesprefect/static/img/feesprefect-logo.png
Due: django-check, pylint

another fix
  heroku-release.sh
Due: none

yet another fix
  heroku-web.sh
Due: none

yet another fix v2
  feesprefect/settings/base.py
Due: django-check, pylint

yet another fix v2
  feesprefect/settings/base.py
  heroku-release.sh
  heroku-web.sh
Due: django-check, pylint

fix: yet another fix v4
  feesprefect/settings/base.py
Due: django-check, pylint

fix: remove unnecessary whitenoise app
  feesprefect/settings/base.py
Due: django-check, pylint

fix: yet another expected final fix
  feesprefect/settings/base.py
  feesprefect/settings/production.py
Due: django-check, pylint

fix: finishing revert
  feesprefect/settings/base.py
  heroku-release.sh
  heroku-web.sh
Due: django-check, pylint

add: logic for updating a payment
  feesprefect/apps/school/serializers.py
Due: django-check, pylint

fix: setting first time payments to true if complete
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/viewsets.py
Due: django-check, pylint

fix: statistics endpoint to return total amount of fees recorded
  feesprefect/apps/school/views.py
Due: django-check, pylint

add: update to allow registration fee payments
  feesprefect/apps/school/migrations/0005_schoolfeespayment_is_registration_fee_payment.py
  feesprefect/apps/school/models.py
  feesprefect/apps/school/serializers.py
  feesprefect/apps/school/services.py
Due: django-check, django-check-migrations, pylint
